nav, footer {
    @include flexbox();
    @include flexflow(row, nowrap);
    font-family: 'Squada One', sans-serif;
    justify-content: space-between;
    width: 100%;
    height: $navHeight;
    background-color: $navBackground;
    box-sizing: border-box;
    font-size: $navFontSize;
    
    ul {
        margin: auto 0;
        padding: 0px;
        display: block;
        
        li {
            display: inline-block;
            box-sizing: border-box;
        }
    }
    
    a {
        font-family: inherit;
        font-size: inherit;
        display: inline-block;
        box-sizing: border-box;
        height: $navHeight;
        color: #000;
        margin: auto 0;
        padding: 0px 20px;
        text-decoration: none;
        line-height: $navHeight;
        
        &:hover {
            background-color: $navHover;
            font-size: $navFontSize + .2rem;
        }
    }
    
    p {
        font-family: inherit;
        font-size: inherit;
        margin: auto 0px;
        line-height: 0px;
        padding: 20px;
        color: inherit;
        z-index: 3;
    }
    
    i {
        color: #000;
        margin: 0px;
        padding: 0px;
    }
    
    .nav-toggle {
        height: $navHeight;
        width: $navHeight;
        text-align: center;
        line-height: $navHeight;
        display: none;
        
        &:hover {
            background-color: $navHover;
            font-size: $navFontSize + .2rem;
        }
    }
}

nav {
    position: fixed;
    right: 0px;
    top: 0px;
}

