#pixelshades {
    background-image: url("../images/pixelshades.jpg");
}

#fcc_indy {
    background-image: url("../images/fcc_indy.jpg");
}

#larrys {
    background-image: url("../images/larrys.jpg");
}